*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: baseline;
  padding-top: 7.5rem;
  justify-content: center;
  background-color: rgb(231, 250, 250);
  background: url('https://wallpaperaccess.com/full/3493317.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* border: 2px solid red; */
}
